- name: Set fact if OS family is Debian
  ansible.builtin.set_fact:
    pre_flight_checks_is_debian_os_family: "{{ ansible_facts.os_family == \"Debian\" }}"

- name: Set fact if OS family is Darwin
  ansible.builtin.set_fact:
    pre_flight_checks_is_darwin_os_family: "{{ ansible_facts.os_family == \"Darwin\" }}"

- name: Check if gh CLI is authenticated
  ansible.builtin.command: gh auth status
  register: pre_flight_checks_gh_auth_status
  changed_when: false
  failed_when: false
  tags: configure_git

- name: Set fact if gh CLI is not authenticated
  ansible.builtin.set_fact:
    pre_flight_checks_is_gh_cli_not_authenticated: "{{ pre_flight_checks_gh_auth_status.rc != 0 }}"
  tags: configure_git

- name: Fail if gh CLI is not authenticated
  ansible.builtin.fail:
    msg: |
      gh CLI is not authenticated. This process is automated in the 'install.sh' script.
      Please run 'install.sh' or manually run 'gh auth login' before running this playbook.
  when: pre_flight_checks_is_gh_cli_not_authenticated
  tags: configure_git

- name: Check for required gh auth scopes
  ansible.builtin.fail:
    msg: |
      The 'gh' command is not authenticated with the required scopes.
      Please run the following command to grant the necessary permissions:
      gh auth refresh -h github.com -s admin:public_key,admin:gpg_key
  when:
    - not pre_flight_checks_is_gh_cli_not_authenticated
    - "'admin:public_key' not in pre_flight_checks_gh_auth_status.stdout or 'admin:gpg_key' not in pre_flight_checks_gh_auth_status.stdout"
  tags: configure_git

- name: Install ssh-askpass for Debian
  ansible.builtin.package:
    name: ssh-askpass
    state: present
  when: pre_flight_checks_is_debian_os_family
  become: true

- name: Install openssh for macOS
  community.general.homebrew:
    name: openssh
    state: present
  when: pre_flight_checks_is_darwin_os_family

- name: Check if playbook is run with administrative privileges (Windows)
  when: is_windows
  block:
    - name: Attempt to create a file in a system directory
      ansible.builtin.file:
        path: "C:/Windows/Temp/test"
        state: touch
      register: admin_check
      ignore_errors: true

    - name: Fail if playbook is not run with administrative privileges
      ansible.builtin.fail:
        msg: "This playbook must be run with administrative privileges. Please re-run the playbook as an administrator."
      when: admin_check.failed
