- name: Set fact if OS family is Debian
  ansible.builtin.set_fact:
    is_debian_os_family: "{{ ansible_facts.os_family == \"Debian\" }}"

- name: Set fact if OS family is Darwin
  ansible.builtin.set_fact:
    is_darwin_os_family: "{{ ansible_facts.os_family == \"Darwin\" }}"

- name: Check if gh CLI is authenticated
  ansible.builtin.command: gh auth status
  register: pre_flight_checks_gh_auth_status
  changed_when: false
  failed_when: false
  tags: configure_git

- name: Set fact if gh CLI is not authenticated
  ansible.builtin.set_fact:
    is_gh_cli_not_authenticated: "{{ pre_flight_checks_gh_auth_status.rc != 0 }}"

- name: Fail if gh CLI is not authenticated
  ansible.builtin.fail:
    msg: |
      gh CLI is not authenticated. This process is automated in the 'install.sh' script.
      Please run 'install.sh' or manually run 'gh auth login' before running this playbook.
  when: is_gh_cli_not_authenticated
  tags: configure_git

- name: Install ssh-askpass for Debian
  ansible.builtin.package:
    name: ssh-askpass
    state: present
  when: is_debian_os_family
  become: true

- name: Install openssh for macOS
  community.general.homebrew:
    name: openssh
    state: present
  when: is_darwin_os_family
