- name: Install LazyVim
  block:
    - name: Set OS specific facts
      when: is_windows
      ansible.builtin.set_fact:
        install_lazyvim_minttyrc_file: "{{ '/c/Users/' + ansible_user_id + '/.minttyrc' if is_windows else '~/.minttyrc' }}"

    - name: Set general facts
      ansible.builtin.set_fact:
        install_lazyvim_nvim_config_dir: "{{ '$env:LOCALAPPDATA\nvim' if is_windows else '~/.config/nvim' }}"

    - name: Ensure required dependencies are installed
      block:
        - name: Ensure Debian-based system dependencies are installed
          when: is_debian_family
          become: true
          ansible.builtin.apt:
            name: tar
            state: present
            update_cache: true

        - name: Ensure MacOS dependencies are installed
          when: is_mac
          block:
            - name: Check if Homebrew is installed
              ansible.builtin.command: brew -v
              register: install_lazyvim_brew_check
              failed_when: install_lazyvim_brew_check.rc != 0
              changed_when: false

            - name: Fail if Homebrew is not installed
              ansible.builtin.fail:
                msg: 'Homebrew is not installed. Please install Homebrew first.'
              when: install_lazyvim_brew_check.rc != 0

        - name: Ensure Windows dependencies are installed
          when: is_windows
          block:
            - name: Check if MSYS2 is installed on Windows
              ansible.builtin.stat:
                path: "{{ item }}"
              loop:
                - '/c/msys64/mingw64.exe'
                - '/c/tools/msys64/mingw64.exe'
              register: install_lazyvim_msys2_check

            - name: Fail if MSYS2 is not installed on Windows
              when:
                - >-
                  install_lazyvim_msys2_check.results | selectattr('stat.exists', 'equalto', false)
                  | list | length == install_lazyvim_msys2_check.results | length
              ansible.builtin.fail:
                msg: 'MSYS2 is not installed. Please install MSYS2 before running this playbook.'

            - name: Check if Chocolatey is installed
              ansible.builtin.command: choco -v
              register: install_lazyvim_choco_check
              failed_when: install_lazyvim_choco_check.rc != 0
              changed_when: false

            - name: Fail if Chocolatey is not installed
              ansible.builtin.fail:
                msg: 'Chocolatey is not installed. Please install Chocolatey first.'
              when: install_lazyvim_choco_check.rc != 0

    - name: Install Neovim
      block:
        - name: Install Neovim on Debian-based systems
          when: is_debian_family
          become: true
          block:
            - name: Remove existing neovim package
              ansible.builtin.apt:
                name: neovim
                state: absent

            - name: Set Neovim architecture string
              ansible.builtin.set_fact:
                install_lazyvim_nvim_arch: "{{ 'x86_64' if ansible_architecture == 'x86_64' else 'arm64' if ansible_architecture == 'aarch64' else '' }}"

            - name: Fail if architecture is not supported
              ansible.builtin.fail:
                msg: "Unsupported architecture: {{ ansible_architecture }}"
              when: install_lazyvim_nvim_arch == ''

            - name: Set Neovim archive and directory names
              ansible.builtin.set_fact:
                install_lazyvim_nvim_archive_name: "nvim-linux-{{ install_lazyvim_nvim_arch }}.tar.gz"
                install_lazyvim_nvim_dir_name: "nvim-linux-{{ install_lazyvim_nvim_arch }}"

            - name: Download Neovim archive
              ansible.builtin.get_url:
                url: "https://github.com/neovim/neovim/releases/latest/download/{{ install_lazyvim_nvim_archive_name }}"
                dest: "/tmp/{{ install_lazyvim_nvim_archive_name }}"
                mode: '0644'

            - name: Remove existing Neovim directory
              ansible.builtin.file:
                path: "/opt/{{ install_lazyvim_nvim_dir_name }}"
                state: absent

            - name: Unarchive Neovim
              ansible.builtin.unarchive:
                src: "/tmp/{{ install_lazyvim_nvim_archive_name }}"
                dest: /opt
                remote_src: true
                creates: "/opt/{{ install_lazyvim_nvim_dir_name }}/bin/nvim"

            - name: Create symbolic link
              ansible.builtin.file:
                src: "/opt/{{ install_lazyvim_nvim_dir_name }}/bin/nvim"
                dest: /usr/local/bin/nvim
                state: link

        - name: Install Neovim on MacOS
          when: is_mac
          community.general.homebrew:
            name: neovim
            state: present
            update_homebrew: true

        - name: Install Neovim and Nerd Font on Windows
          when: is_windows
          ansible.builtin.shell:
            cmd: /c/ProgramData/chocolatey/bin/choco.exe install neovim cascadia-code-nerd-font -y --no-progress
          register: choco_install_lazyvim
          changed_when: choco_install_lazyvim.stdout is defined and "Installing the following packages" in choco_install_lazyvim.stdout

    - name: Install neovim providers (Unix)
      when: is_debian_family or is_mac
      block:
        - name: Install pynvim for Python provider (Debian)
          when: is_debian_family
          become: true
          ansible.builtin.apt:
            name: python3-pynvim
            state: present

        - name: Install pynvim for Python provider (Mac)
          when: is_mac
          become: true
          ansible.builtin.pip:
            name: pynvim
            executable: pip3

        - name: Install neovim for Node.js provider (Unix)
          ansible.builtin.command: pnpm add -g neovim
          changed_when: false

    - name: Install pynvim for Python provider (Windows)
      when: is_windows
      ansible.builtin.pip:
        name: pynvim

    - name: Install neovim for Node.js provider (Windows)
      when: is_windows
      ansible.builtin.shell:
        cmd: pnpm add -g neovim
      changed_when: false

    - name: Define Neovim config paths to backup (Debian/MacOS)
      when: is_debian_family or is_mac
      ansible.builtin.set_fact:
        install_lazyvim_nvim_backup_paths:
          - "{{ install_lazyvim_nvim_config_dir }}"
          - "~/.local/share/nvim"
          - "~/.local/state/nvim"
          - "~/.cache/nvim"

    - name: Backup current Neovim Configuration (Debian/MacOS)
      when: is_debian_family or is_mac
      ansible.builtin.include_tasks: ../../common/tasks/backup_directory.yml
      loop: "{{ install_lazyvim_nvim_backup_paths }}"
      loop_control:
        loop_var: item

    - name: Backup current Neovim Configuration (Windows)
      when: is_windows
      block:
        - name: Backup nvim config directory
          ansible.builtin.shell:
            cmd: mv "$LOCALAPPDATA/nvim" "$LOCALAPPDATA/nvim.bak"
          failed_when: false # Ignore errors if the directory doesn't exist

        - name: Backup nvim-data directory
          ansible.builtin.shell:
            cmd: mv "$LOCALAPPDATA/nvim-data" "$LOCALAPPDATA/nvim-data.bak"
          failed_when: false # Ignore errors if the directory doesn't exist

        - name: Clone LazyVim starter
          ansible.builtin.shell:
            cmd: git clone https://github.com/LazyVim/starter "$LOCALAPPDATA/nvim"

        - name: Remove .git folder
          ansible.builtin.shell:
            cmd: rm -rf "$LOCALAPPDATA/nvim/.git"

    - name: Install LazyVim
      when: is_debian_family or is_mac
      block:
        - name: Clone LazyVim starter
          ansible.builtin.git:
            repo: 'https://github.com/LazyVim/starter'
            dest: "{{ install_lazyvim_nvim_config_dir }}"
            version: main

        - name: Remove .git folder
          ansible.builtin.file:
            path: "{{ install_lazyvim_nvim_config_dir }}/.git"
            state: absent

    - name: Install Nerd Font
      block:

        - name: Install Nerd Font on MacOS
          when: is_mac
          community.general.homebrew_cask:
            name: font-caskaydia-cove-nerd-font
            state: present
            update_homebrew: true

        - name: Install Nerd Font on Debian
          when: is_debian_family
          block:
            - name: Install Nerd Font (Debian)
              check_mode: false
              ansible.builtin.get_url:
                url: https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/CascadiaCode.tar.xz
                dest: '/tmp/CascadiaCode.tar.gz'
                mode: '0644'
              register: install_lazyvim_download
              notify:
                - Update font cache
                - Remove font archive

            - name: Ensure font directory exists
              ansible.builtin.file:
                path: "{{ ansible_env.HOME }}/.local/share/fonts"
                state: directory
                mode: '0755'

            - name: Unarchive font
              ansible.builtin.unarchive:
                src: '/tmp/CascadiaCode.tar.gz'
                dest: '{{ ansible_env.HOME }}/.local/share/fonts'
                remote_src: true
                creates: "{{ ansible_env.HOME }}/.local/share/fonts/CaskaydiaCoveNerdFont-Regular.ttf"

    - name: Configure the terminal emulator to use the new Nerd Font
      block:
        - name: Configure XFCE Terminal to use Nerd Font on Debian-based systems
          when: is_debian_family
          block:
            - name: Ensure XFCE Terminal configuration directory exists
              ansible.builtin.file:
                path: "{{ ansible_env.HOME }}/.config/xfce4/terminal"
                state: directory
                mode: '0755'

            - name: Configure XFCE Terminal to use Nerd Font
              ansible.builtin.lineinfile:
                path: "{{ ansible_env.HOME }}/.config/xfce4/terminal/terminalrc"
                regexp: '^FontName='
                line: 'FontName=CaskaydiaCove Nerd Font 10'
                create: true
                mode: '0644'

    - name: Configure Terminal app to use Nerd Font on MacOS
      when: is_mac
      block:
        - name: Check current Terminal font
          ansible.builtin.command: >
            osascript -e 'tell application "Terminal"
              repeat with profileName in (get every settings set)
                  if font name of profileName is not "CaskaydiaCove Nerd Font" or font size of profileName is not 14 then
                      return false
                  end if
              end repeat
              return true
            end tell'
          register: install_lazyvim_terminal_font_check
          changed_when: install_lazyvim_terminal_font_check.stdout != "true"

        - name: Set font for all Terminal profiles
          when: install_lazyvim_terminal_font_check.stdout != "true"
          ansible.builtin.command: >
            osascript -e 'tell application "Terminal"
              repeat with profileName in (get every settings set)
                  set font name of profileName to "CaskaydiaCove Nerd Font"
                  set font size of profileName to 14
              end repeat
            end tell'
          changed_when: install_lazyvim_terminal_font_check.stdout != "true"

        - name: Configure MINTTY to use Nerd Font on Windows
          when: is_windows
          block:
            - name: Ensure .minttyrc file exists
              ansible.builtin.file:
                path: "{{ install_lazyvim_minttyrc_file }}"
                state: touch
                mode: '0644'

            - name: Update .minttyrc to use Nerd Font
              ansible.builtin.lineinfile:
                path: "{{ install_lazyvim_minttyrc_file }}"
                regexp: '^Font='
                line: 'Font=CaskaydiaCove Nerd Font'
