- name: Set dotfiles repository path
  ansible.builtin.set_fact:
    stow_dotfiles_repo_path: "{{ win_home_dir if is_windows else ansible_env.HOME }}/.dotfiles"

- name: Ensure .dotfiles directory exists
  ansible.builtin.file:
    path: "{{ stow_dotfiles_repo_path }}"
    state: directory
    mode: "0755"

- name: Check for local changes in .dotfiles repository # noqa: command-instead-of-module
  # NOTE: The ansible.builtin.git module does not support `git status --porcelain`,
  #       so we use `ansible.builtin.command` here.
  ansible.builtin.command: git status --porcelain
  args:
    chdir: "{{ stow_dotfiles_repo_path }}"
  register: stow_dotfiles_git_status
  changed_when: false
  failed_when: false

- name: Set fact if dotfiles repository is dirty
  ansible.builtin.set_fact:
    stow_dotfiles_is_dotfiles_repo_dirty: "{{ stow_dotfiles_git_status.stdout != '' }}"

- name: Stash local changes if any # noqa: command-instead-of-module
  # NOTE: The ansible.builtin.git module does not support `git stash`,
  #       so we use `ansible.builtin.command` here.
  ansible.builtin.command: git stash
  args:
    chdir: "{{ stow_dotfiles_repo_path }}"
  when: stow_dotfiles_is_dotfiles_repo_dirty
  register: stow_dotfiles_git_stash
  changed_when: false

- name: Set fact if git stash was successful
  ansible.builtin.set_fact:
    stow_dotfiles_is_git_stash_successful: >-
      {{
        stow_dotfiles_git_stash.stdout is defined and
        'Saved working directory and index state' in stow_dotfiles_git_stash.stdout
      }}

- name: Clone or update .dotfiles repository
  ansible.builtin.shell:
    cmd: |
      if [ -d .git ]; then
        git pull
      else
        git clone "{{ stow_dotfiles_repo_url }}" .
      fi
    chdir: "{{ stow_dotfiles_repo_path }}"
  changed_when: false

- name: Stow dotfiles with --adopt and restore git changes
  ansible.builtin.shell:
    cmd: |
      cd "{{ stow_dotfiles_repo_path }}"
      # NOTE: The --adopt flag is used to take ownership of existing files in the home directory
      #       that would otherwise conflict with stow's symlinking process. This allows stow
      #       to create symlinks for these files and move the original files into the .dotfiles
      #       repository. Immediately after, 'git restore .' is used to revert these changes
      #       in the .dotfiles repository, ensuring that the repository remains clean and
      #       reflects only the intended dotfiles from the origin.
      stow */ --adopt
      git restore .
  args:
    chdir: "{{ stow_dotfiles_repo_path }}"
  changed_when: true

- name: Unstash local changes # noqa: command-instead-of-module
  # NOTE: The ansible.builtin.git module does not support `git stash pop`,
  #       so we use `ansible.builtin.command` here.
  ansible.builtin.command: git stash pop
  args:
    chdir: "{{ stow_dotfiles_repo_path }}"
  when: stow_dotfiles_is_git_stash_successful
  changed_when: false
