# NOTE: We cannot rely on ansible gathered facts until the interpreter has been set.
# Therefore, we will use `uname` to determine the operating system.
- name: Check operating system
  ansible.builtin.raw: uname -s
  register: os_result
  changed_when: false
  tags: always

- name: Set python interpreter for macOS
  ansible.builtin.set_fact:
    ansible_python_interpreter: "/opt/homebrew/bin/python3"
  when: "'Darwin' in os_result.stdout"
  tags: always

- name: Set python interpreter for Linux
  ansible.builtin.set_fact:
    ansible_python_interpreter: "/usr/bin/python3"
  when: "'Linux' in os_result.stdout"
  tags: always

- name: Set python interpreter for MSYS2 on Windows
  ansible.builtin.set_fact:
    ansible_python_interpreter: "/usr/bin/python3"
  when: "'msys' in os_result.stdout | lower or 'mingw' in os_result.stdout | lower"
  tags: always
