- name: Configure Shell
  block:
    - name: Change default MacOS shell from zsh to bash
      when: is_mac
      become: true
      block:
        - name: Add Homebrew's Bash to the list of allowed shells
          ansible.builtin.lineinfile:
            path: /etc/shells
            line: /opt/homebrew/bin/bash
            state: present
        - name: Change default shell to Homebrew's Bash
          ansible.builtin.command: chsh -s /opt/homebrew/bin/bash {{ ansible_user_id }}
          changed_when: false

- name: Enable tab completion for Ansible CLI commands
  block:
    - name: Install argcomplete for Ansible tab completion
      block:
        - name: Install argcomplete on Debian-based systems using Apt
          when: is_debian_family
          become: true
          ansible.builtin.apt:
            name: python3-argcomplete
            state: present

        - name: Install argcomplete on macOS systems using Pip
          when: is_mac # NOTE: Changed from 'not is_windows'
          ansible.builtin.pip:
            name:
              - argcomplete
            state: present
            extra_args: "--user --break-system-packages" # NOTE: Simplified from ternary

        - name: Install argcomplete on Windows MSYS2 systems using Pacman
          when: is_windows
          community.general.pacman:
            name: mingw-w64-x86__64-python-argcomplete
            state: present
            update_cache: true

    - name: Find Python user base
      when: is_mac
      ansible.builtin.command: "{{ ansible_python_interpreter }} -m site --user-base"
      register: configure_shell_python_user_base
      changed_when: false

    - name: Activate global argcomplete for macOS
      when: is_mac
      ansible.builtin.shell: set -o pipefail && yes | {{ configure_shell_python_user_base.stdout }}/bin/activate-global-python-argcomplete --user
      args:
        executable: /bin/bash
      changed_when: false

    - name: Manually create global argcomplete hook for Debian (workaround for buggy script)
      when: is_debian_family
      become: true
      ansible.builtin.copy:
        src: python-argcomplete.sh
        dest: /etc/bash_completion.d/python-argcomplete.sh
        mode: '0644'

    - name: Activate global argcomplete for Windows (MSYS2)
      when: is_windows
      ansible.builtin.shell: set -o pipefail && yes | /mingw64/bin/activate-global-python-argcomplete --user
      args:
        executable: /bin/bash
      changed_when: false

- name: Source .dotfilesrc in .bashrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    line: "source {{ ansible_env.HOME }}/.dotfilesrc"
    create: true
    mode: '0644'

- name: Install and Configure Starship
  when: is_windows
  block:
    - name: Install Starship via pacman
      community.general.pacman:
        name: mingw-w64-x86_64-starship
        state: present

    - name: Configure Starship for use with bash
      ansible.builtin.lineinfile:
        path: '/c/Users/{{ ansible_user_id }}/.bashrc'
        line: 'eval "$(starship init bash)"'
