- name: Configure Shell
  block:
    - name: Change default MacOS shell from zsh to bash
      when: is_mac
      become: true
      block:
        - name: Add Homebrew's Bash to the list of allowed shells
          ansible.builtin.lineinfile:
            path: /etc/shells
            line: /opt/homebrew/bin/bash
            state: present
        - name: Change default shell to Homebrew's Bash
          ansible.builtin.command: chsh -s /opt/homebrew/bin/bash {{ ansible_facts.user_id }}
          changed_when: false

- name: Enable tab completion for Ansible CLI commands
  block:
    - name: Install argcomplete for Ansible tab completion
      block:
        - name: Install argcomplete on Debian-based systems using Apt
          when: is_debian_family
          become: true
          ansible.builtin.apt:
            name: python3-argcomplete
            state: present

        - name: Install argcomplete on macOS systems using Pip
          when: is_mac
          ansible.builtin.pip:
            name: argcomplete
            state: present

        - name: Install argcomplete on Windows MSYS2 systems using Pacman
          when: is_windows
          community.general.pacman:
            name: mingw-w64-x86_64-python-argcomplete
            state: present
            update_cache: true
            extra_args: --overwrite "*"

- name: Enable global python argcomplete
  block:
    - name: Find Python user base
      when: is_mac
      ansible.builtin.command: "{{ ansible_facts.python.executable }} -m site --user-base"
      register: configure_shell_python_user_base
      changed_when: false
      failed_when: configure_shell_python_user_base.rc != 0 and configure_shell_python_user_base.stdout | length == 0

    # NOTE: The following task ignores exit code 141 (SIGPIPE) because the 'yes'
    #       command's output pipe is closed prematurely by the argcomplete script,
    #       which is expected behavior.
    - name: Activate global argcomplete for macOS
      when: is_mac
      ansible.builtin.shell: >
        set -o pipefail && yes |
        {{ configure_shell_python_user_base.stdout }}/bin/activate-global-python-argcomplete --user
      args:
        executable: /bin/bash
      changed_when: false
      register: configure_shell_argcomplete_activation
      failed_when: >
        configure_shell_argcomplete_activation.rc != 0 and
        configure_shell_argcomplete_activation.rc != 141

    - name: Manually create global argcomplete hook for Debian (workaround for buggy script)
      when: is_debian_family
      become: true
      ansible.builtin.copy:
        src: python-argcomplete.sh
        dest: /etc/bash_completion.d/python-argcomplete.sh
        mode: "0644"

    - name: Get user's home directory path in POSIX format
      ansible.builtin.command:
        cmd: cygpath -u "{{ ansible_env.USERPROFILE }}"
      register: configure_shell_win_home_dir
      changed_when: false

    - name: Configure Starship for use with bash
      ansible.builtin.lineinfile:
        path: "{{ configure_shell_win_home_dir.stdout if is_windows else ansible_facts.env.HOME }}/.bashrc"
        line: 'eval "$(starship init bash)"'
        create: true
        mode: "0644"

    - name: Manually create global argcomplete hook for Windows (MSYS2)
      when: is_windows
      ansible.builtin.lineinfile:
        path: "{{ configure_shell_win_home_dir.stdout if is_windows else ansible_facts.env.HOME }}/.bashrc"
        line: "source /mingw64/lib/python3.12/site-packages/argcomplete/bash_completion.d/_python-argcomplete"
        create: true
        mode: "0644"

- name: Source .dotfilesrc in .bashrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts.env.HOME }}/.bashrc"
    line: "source {{ ansible_facts.env.HOME }}/.dotfilesrc"
    create: true
    mode: "0644"

- name: Install and Configure Starship
  when: is_windows
  block:
    - name: Install Starship via pacman
      community.general.pacman:
        name: mingw-w64-x86_64-starship
        state: present
