- name: Install macOS packages
  when: is_mac
  block:
    - name: Check if Homebrew is installed
      ansible.builtin.command: which brew
      register: install_base_packages_homebrew_check
      failed_when: install_base_packages_homebrew_check.stdout == ''
      changed_when: false

    - name: Fail if Homebrew is not installed
      when: install_base_packages_homebrew_check.stdout == ''
      ansible.builtin.fail:
        msg: "Homebrew is not installed. Please install it first."

    # NOTE: The following packages are required for lazyvim and its plugins.
    #       - fd: Required by lazyvim and snacks for file searching
    #       - lazygit: Required by lazyvim and snacks for git integration
    #       - luarocks: Required by lazy and mason for Lua plugin management
    #       - - imagemagick: Required by snacks for image previews
    #       - sqlite: Required by snacks for history and frecency
    - name: Install Homebrew packages
      community.general.homebrew:
        name:
          - bash
          - bash-completion
          - python3
          - stow
          - pnpm
          - ansible-lint
          - gh
          - gnupg
          - tlrc # NOTE: (tldr rust client)
          - tree
          - alacritty
          - fzf
          - ripgrep
          - fd
          - lazygit
          - luarocks
          - imagemagick
          - sqlite
          - pipx
        state: latest
        update_homebrew: true

    - name: Install nvm and node
      block:
        - name: Download nvm install script
          ansible.builtin.get_url:
            url: |
              https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh
            dest: /tmp/install_nvm.sh
            mode: "0755"

        - name: Run nvm install script
          ansible.builtin.command: /tmp/install_nvm.sh
          args:
            creates: "{{ ansible_facts.env.HOME }}/.nvm/nvm.sh"

        - name: Install Node.js LTS
          ansible.builtin.shell: >
            set -o pipefail && source {{ ansible_facts.env.HOME }}/.nvm/nvm.sh && nvm install --lts
          args:
            executable: /bin/bash
            creates: "{{ ansible_facts.env.HOME }}/.nvm/versions/node"

    - name: Ensure pnpm global directory exists
      ansible.builtin.file:
        path: "{{ ansible_facts.env.HOME }}/.local/share/pnpm"
        state: directory
        mode: "0755"

    - name: Install pnpm packages
      community.general.pnpm:
        name: "{{ item }}"
        global: true
        state: latest
      with_items:
        - tree-sitter-cli
        - neovim
      environment:
        PNPM_HOME: "{{ ansible_facts.env.HOME }}/.local/share/pnpm"
        PATH: "{{ ansible_facts.env.HOME }}/.local/share/pnpm:{{ ansible_facts.env.PATH }}"

    - name: Install pipx packages
      community.general.pipx:
        name: "{{ item }}"
        state: latest
        executable: /opt/homebrew/bin/pipx
      with_items:
        - pynvim
