- name: Linux Package Management
  ansible.builtin.include_tasks: linux.yml

- name: MacOS Package Management
  ansible.builtin.include_tasks: macos.yml

- name: Windows Package Management
  ansible.builtin.include_tasks: windows.yml
