- name: Set SSH key path
  ansible.builtin.set_fact:
    configure_git_ssh_key_path: "{{ ansible_facts.env.HOME }}/.ssh/ansible-managed/github/id_rsa"

- name: Check for existing SSH key
  ansible.builtin.stat:
    path: "{{ configure_git_ssh_key_path }}"
  register: configure_git_ssh_key_stat

- name: Set fact if SSH key is present locally
  ansible.builtin.set_fact:
    configure_git_is_ssh_key_present_locally: "{{ configure_git_ssh_key_stat.stat.exists }}"

- name: Create managed directory for SSH key
  ansible.builtin.file:
    path: "{{ configure_git_ssh_key_path | dirname }}"
    state: directory
    mode: "0700"

- name: Prompt for SSH key passphrase
  ansible.builtin.pause:
    prompt: "Enter SSH key passphrase"
    echo: false
  register: configure_git_ssh_passphrase_prompt
  no_log: true
  when: not configure_git_is_ssh_key_present_locally

- name: Confirm SSH key passphrase
  ansible.builtin.pause:
    prompt: "Confirm SSH key passphrase"
    echo: false
  register: configure_git_ssh_passphrase_confirm
  no_log: true
  when: not configure_git_is_ssh_key_present_locally

- name: Set fact if SSH key passphrases match
  ansible.builtin.set_fact:
    configure_git_is_ssh_passphrases_match: "{{ configure_git_ssh_passphrase_prompt.user_input == configure_git_ssh_passphrase_confirm.user_input }}"
  when: not configure_git_is_ssh_key_present_locally and configure_git_ssh_passphrase_prompt is defined

- name: Fail if SSH key passphrases don't match
  ansible.builtin.fail:
    msg: "SSH key passphrases don't match!"
  when: not configure_git_is_ssh_key_present_locally and not configure_git_is_ssh_passphrases_match

- name: Create SSH key for GitHub
  when: not configure_git_is_ssh_key_present_locally
  block:
    - name: Create SSH key on Windows
      ansible.builtin.command:
        cmd: 'ssh-keygen -t ed25519 -C "{{ configure_git_user_email }}" -N "{{ configure_git_ssh_passphrase_prompt.user_input | default("") }}" -f "{{ configure_git_ssh_key_path }}"'
      when: is_windows

    - name: Create SSH key on non-Windows systems
      community.crypto.openssh_keypair:
        path: "{{ configure_git_ssh_key_path }}"
        passphrase: "{{ configure_git_ssh_passphrase_prompt.user_input | default(omit) }}"
        comment: "{{ configure_git_user_email }}"
        type: ed25519
      when: not is_windows

- name: Read SSH public key
  ansible.builtin.slurp:
    src: "{{ configure_git_ssh_key_path }}.pub"
  register: configure_git_ssh_public_key

- name: Get remote SSH public keys from GitHub
  ansible.builtin.shell: |
    set -o pipefail
    gh api user/keys | jq -r '.[].key'
  args:
    executable: /bin/bash
  register: configure_git_remote_ssh_keys
  changed_when: false

- name: Set fact if SSH key is already on GitHub
  ansible.builtin.set_fact:
    configure_git_is_ssh_key_already_on_github: "{{ (configure_git_ssh_public_key.content | b64decode) in configure_git_remote_ssh_keys.stdout_lines }}"

- name: Add SSH key to GitHub
  ansible.builtin.shell: |
    set -o pipefail
    echo "{{ configure_git_ssh_public_key.content | b64decode }}" | gh ssh-key add -t "{{ ansible_facts.hostname }} SSH Key (ansible-managed)" -
  args:
    executable: /bin/bash
  register: configure_git_add_ssh_key_result
  when: not configure_git_is_ssh_key_already_on_github
  changed_when: configure_git_add_ssh_key_result.rc == 0
  failed_when:
    - configure_git_add_ssh_key_result.rc != 0
    - "'already exist' not in configure_git_add_ssh_key_result.stderr"
    - "'key is already in use' not in configure_git_add_ssh_key_result.stderr"

- name: Manage ssh-agent and keys across platforms
  block:
    - name: Linux-specific keychain setup
      when: is_debian_family
      block:
        - name: Install keychain for ssh-agent management
          become: true
          ansible.builtin.package:
            name: keychain
            state: present

        - name: Configure bashrc to use keychain for ssh-agent management
          ansible.builtin.lineinfile:
            path: "{{ ansible_facts.env.HOME }}/.bashrc"
            line: "eval `keychain --eval --nogui --agents ssh {{ configure_git_ssh_key_path }}`"
            create: true
            mode: "0644"

    - name: MacOS-specific ssh_config setup
      when: is_mac
      block:
        - name: Ensure managed SSH block is present for all hosts
          ansible.builtin.include_tasks: ../../../common/tasks/manage_ssh_config_entry.yml
          vars:
            ssh_config_block_position: "top"
            ssh_config_host: "*"
            ssh_config_marker: "# {mark} ANSIBLE MANAGED BLOCK FOR GLOBAL HOST CONFIGURATION"
            ssh_config_block: |
              Host *
                IgnoreUnknown UseKeychain

        - name: Configure SSH config for GitHub to use ansible-managed key
          ansible.builtin.include_tasks: ../../../common/tasks/manage_ssh_config_entry.yml
          vars:
            ssh_config_host: "github.com"
            ssh_config_marker: "# {mark} ANSIBLE MANAGED BLOCK FOR GITHUB"
            ssh_config_block: |
              Host github.com
                AddKeysToAgent yes
                UseKeychain yes
                IdentityFile {{ configure_git_ssh_key_path }}

        - name: Add key to ssh-agent
          when:
            - not configure_git_is_ssh_key_present_locally
            - configure_git_ssh_passphrase_prompt.user_input is defined
            - configure_git_ssh_passphrase_prompt.user_input | length > 0
          ansible.builtin.expect:
            command: /usr/bin/ssh-add --apple-use-keychain {{ configure_git_ssh_key_path }}
            responses:
              Enter passphrase: "{{ configure_git_ssh_passphrase_prompt.user_input }}"
          no_log: true

    - name: Windows-specific ssh-agent setup
      when: is_windows
      block:
        - name: Configure bashrc to use ssh-agent
          ansible.builtin.blockinfile:
            path: "{{ ansible_facts.env.HOME }}/.bashrc"
            create: true
            mode: "0644"
            marker: "# {mark} ANSIBLE MANAGED BLOCK FOR GITHUB SSH AGENT"
            block: |
              env=~/.ssh/agent.env

              agent_load_env () { test -f "$env" && . "$env" >| /dev/null ; }

              agent_start () {
                  (umask 077; ssh-agent >| "$env")
                  . "$env" >| /dev/null ; }

              agent_load_env

              # agent_run_state: 0=agent running w/ key; 1=agent w/o key; 2=agent not running
              agent_run_state=$(ssh-add -l >| /dev/null 2>&1; echo $?)

              if [ ! "$SSH_AUTH_SOCK" ] || [ $agent_run_state = 2 ]; then
                  agent_start
                  ssh-add {{ configure_git_ssh_key_path }}
              elif [ "$SSH_AUTH_SOCK" ] && [ $agent_run_state = 1 ]; then
                  ssh-add {{ configure_git_ssh_key_path }}
              fi

              unset env
