- name: Set SSH key path
  ansible.builtin.set_fact:
    configure_git_ssh_key_path: "{{ ansible_env.HOME }}/.ssh/ansible-managed/github/id_rsa"

- name: Check for existing SSH key
  ansible.builtin.stat:
    path: "{{ configure_git_ssh_key_path }}"
  register: configure_git_ssh_key_stat

- name: Set fact if SSH key is present locally
  ansible.builtin.set_fact:
    configure_git_is_ssh_key_present_locally: "{{ configure_git_ssh_key_stat.stat.exists }}"

- name: Create managed directory for SSH key
  ansible.builtin.file:
    path: "{{ configure_git_ssh_key_path | dirname }}"
    state: directory
    mode: "0700"

- name: Prompt for SSH key passphrase
  ansible.builtin.pause:
    prompt: "Enter SSH key passphrase"
    echo: false
  register: configure_git_ssh_passphrase_prompt
  no_log: true
  when: not configure_git_is_ssh_key_present_locally

- name: Confirm SSH key passphrase
  ansible.builtin.pause:
    prompt: "Confirm SSH key passphrase"
    echo: false
  register: configure_git_ssh_passphrase_confirm
  no_log: true
  when: not configure_git_is_ssh_key_present_locally

- name: Set fact if SSH key passphrases match
  ansible.builtin.set_fact:
    configure_git_is_ssh_passphrases_match: "{{ configure_git_ssh_passphrase_prompt.user_input == configure_git_ssh_passphrase_confirm.user_input }}"
  when: not configure_git_is_ssh_key_present_locally and configure_git_ssh_passphrase_prompt is defined

- name: Fail if SSH key passphrases don't match
  ansible.builtin.fail:
    msg: "SSH key passphrases don't match!"
  when: not configure_git_is_ssh_key_present_locally and not configure_git_is_ssh_passphrases_match

- name: Create SSH key for GitHub
  community.crypto.openssh_keypair:
    path: "{{ configure_git_ssh_key_path }}"
    passphrase: "{{ configure_git_ssh_passphrase_prompt.user_input | default(omit) }}"
    comment: "{{ configure_git_user_email }}"
    type: ed25519
  when: not configure_git_is_ssh_key_present_locally

- name: Read SSH public key
  ansible.builtin.slurp:
    src: "{{ configure_git_ssh_key_path }}.pub"
  register: configure_git_ssh_public_key

- name: Get remote SSH public keys from GitHub
  ansible.builtin.shell: |
    set -o pipefail
    gh api /user/keys | jq -r '.[].key'
  args:
    executable: /bin/bash
  register: configure_git_remote_ssh_keys
  changed_when: false

- name: Set fact if SSH key is already on GitHub
  ansible.builtin.set_fact:
    configure_git_is_ssh_key_already_on_github: "{{ (configure_git_ssh_public_key.content | b64decode) in configure_git_remote_ssh_keys.stdout_lines }}"

- name: Add SSH key to GitHub
  ansible.builtin.shell: |
    set -o pipefail
    echo "{{ configure_git_ssh_public_key.content | b64decode }}" | gh ssh-key add -t "{{ ansible_hostname }} SSH Key (ansible-managed)" -
  args:
    executable: /bin/bash
  register: configure_git_add_ssh_key_result
  when: not configure_git_is_ssh_key_already_on_github
  changed_when: "'already exist' not in configure_git_add_ssh_key_result.stderr"
  failed_when: "configure_git_add_ssh_key_result.rc != 0 and 'already exist' not in configure_git_add_ssh_key_result.stderr"

- name: Manage ssh-agent and keys across platforms
  block:
    - name: Install keychain for ssh-agent management
      ansible.builtin.package:
        name: keychain
        state: present
      become: true
      when: is_debian_family or is_mac

    - name: Configure bashrc to use keychain for ssh-agent management
      ansible.builtin.lineinfile:
        path: "{{ ansible_env.HOME }}/.bashrc"
        line: 'eval `keychain --eval --agents ssh {{ configure_git_ssh_key_path }}`'
        create: true
        mode: '0644'
      when: is_debian_family or is_mac

    - name: Start ssh-agent for the current session (Linux/macOS)
      ansible.builtin.shell: 'eval `keychain --eval --agents ssh {{ configure_git_ssh_key_path }}`'
      args:
        executable: /bin/bash
      changed_when: false
      when: is_debian_family or is_mac

    - name: Ensure ssh-agent is running on Windows
      ansible.windows.win_service:
        name: ssh-agent
        start_mode: auto
        state: started
      when: is_windows

    - name: Get fingerprint of the managed SSH key
      ansible.builtin.shell: |
        set -o pipefail
        ssh-keygen -l -f {{ configure_git_ssh_key_path }}.pub | awk '{print $2}'
      register: configure_git_managed_ssh_key_fingerprint
      changed_when: false
      when: configure_git_is_ssh_key_present_locally
      args:
        executable: /bin/bash

    - name: Ensure managed SSH key is added to the agent (Linux/macOS)
      ansible.builtin.shell: |
        set -o pipefail
        if ! ssh-add -l | grep -q "{{ configure_git_managed_ssh_key_fingerprint.stdout }}"; then
          ssh-add "{{ configure_git_ssh_key_path }}"
        fi
      args:
        executable: /bin/bash
      when: (is_debian_family or is_mac) and configure_git_is_ssh_key_present_locally
      changed_when: false

    - name: Ensure managed SSH key is added to the agent (Windows)
      ansible.windows.win_shell: |
        $fingerprint = "{{ configure_git_managed_ssh_key_fingerprint.stdout }}"
        $keys = ssh-add -l
        if ($keys -notmatch $fingerprint) {
          ssh-add "{{ configure_git_ssh_key_path }}"
        }
      when: is_windows and configure_git_is_ssh_key_present_locally
      changed_when: false

    - name: Add newly created SSH key to ssh-agent (Linux/macOS)
      ansible.builtin.shell: |
        set -o pipefail
        echo "{{ configure_git_ssh_passphrase_prompt.user_input | default(omit) }}" | ssh-add "{{ configure_git_ssh_key_path }}"
      args:
        executable: /bin/bash
      when: (is_debian_family or is_mac) and not configure_git_is_ssh_key_present_locally
      changed_when: true

    - name: Add newly created SSH key to agent (Windows)
      ansible.windows.win_shell: '"{{ configure_git_ssh_passphrase_prompt.user_input | default(omit) }}" | ssh-add "{{ configure_git_ssh_key_path }}"'
      when: is_windows and not configure_git_is_ssh_key_present_locally
      changed_when: true
