- name: Setup Ansible Controller
  hosts: localhost
  connection: local
  gather_facts: false
  pre_tasks:
    - name: Set python interpreter
      ansible.builtin.include_tasks: ../common/tasks/set_python_interpreter.yml
      tags: always

      # NOTE: Manually father facts once python interpreter is set...
    - name: Manually gather facts
      ansible.builtin.setup:
      tags: always

    - name: Execute pre-flight checks
      ansible.builtin.include_tasks: ../roles/pre_flight_checks/tasks/main.yml
      tags: configure_git

    - name: Ensure 'packaging' library is installed for Ansible's Python environment (macOS)
      when: ansible_facts.os_family == 'Darwin'
      ansible.builtin.command: /opt/homebrew/opt/python@3.12/bin/pip3 install packaging --break-system-packages --user
      changed_when: false
      failed_when: false # NOTE: Allow this to fail if packaging is already installed or if pip is not found...
      tags: always

    - name: Set OS facts
      ansible.builtin.include_tasks: ../common/tasks/set_os_facts.yml
      tags: always

    - name: Set system architecture facts
      ansible.builtin.include_tasks: ../common/tasks/set_sys_architecture_facts.yml
      tags: always

    - name: Set is_inside_xfce fact
      ansible.builtin.set_fact:
        is_inside_xfce: "{{ ansible_facts.env.XDG_CURRENT_DESKTOP is defined and ansible_facts.env.XDG_CURRENT_DESKTOP == 'XFCE' }}"
      tags: always

  roles:
    - role: install_base_packages
      tags: [install_base_packages, configure_git]

    - role: install_wsl_gui
      when: is_wsl | default(false)

    - configure_shell
    - configure_keyboard
    - install_browser
    - install_lazyvim
    - stow_dotfiles

    - role: configure_git
      tags: configure_git

  post_tasks:
    - name: Display final instructions
      ansible.builtin.debug:
        msg:
          - "Playbook execution finished."
          - >-
            If you are having issues with commands not being found (e.g. 'nvim'),
            please run 'hash -r' or open a new terminal session to refresh your shell's command cache.

    - name: Add final instructions for GitHub
      ansible.builtin.debug:
        msg:
          - "GitHub Configuration Instructions:"
          - "1. Your SSH and GPG keys have been automatically added to GitHub."
          - "   If you encounter issues, ensure you have authenticated the gh CLI by running 'gh auth login'."
          - >-
            You can also manually add your SSH key by following:
            https://docs.github.com/en/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account
          - "   Your public SSH key is located at: {{ ansible_env.HOME }}/.ssh/ansible-managed/github/id_rsa.pub"
          - >-
            You can also manually add your GPG key by following:
            https://docs.github.com/en/authentication/managing-commit-signature-verification/adding-a-new-gpg-key-to-your-github-account
          - >-
            To get your public GPG key, run:
            gpg --armor --export --homedir {{ ansible_env.HOME }}/.gnupg/ansible-managed/github {{ configure_git_user_email }}
          - "3. For work repositories, you can use a different git configuration by running the following commands inside the repository:"
          - '   git config --local user.name "Your Work Name"'
          - '   git config --local user.email "your-work@example.com"'
      tags: configure_git
