# NOTE: The logic of this role was not changed when it was converted from a playbook.
# There is extensive refactoring required to make it OS agnostic, however, this was out of scope for the conversion work.
- name: Configure Keyboard
  block:
    - name: Set OS and hardware facts
      ansible.builtin.set_fact:
        configure_keyboard_is_debian_os_on_gb_chromebook: >
          {{
            ansible_facts.os_family == 'Debian' and
            (ansible_facts.env.LANGUAGE | default('')) == 'en_GB:en' and
            ansible_facts.system_vendor == 'GOOGLE'
          }}
        configure_keyboard_is_xfce_desktop: >
          {{
            (ansible_facts.env.XDG_CURRENT_DESKTOP is defined and
            ansible_facts.env.XDG_CURRENT_DESKTOP == 'XFCE') or
            (is_wsl | default(false))
          }}
        configure_keyboard_is_linux_system: "{{ ansible_facts.system == 'Linux' }}"
        configure_keyboard_is_apt_package_manager: "{{ ansible_facts.pkg_mgr == 'apt' }}"

    - name: Apply Custom Keyboard Mappings for Debian based systems on Chromebook hardware
      when: configure_keyboard_is_debian_os_on_gb_chromebook
      block:
        - name: Create ~/.Xmodmap with custom key mappings
          ansible.builtin.copy:
            content: |
              keycode 11 = 2 at
              keycode 12 = 3 sterling numbersign
              keycode 48 = apostrophe quotedbl
              keycode 49 = section plusminus
              keycode 51 = backslash bar
              keycode 94 = grave asciitilde
              keycode 108 = Mode_switch Mode_switch Mode_switch Mode_switch
            dest: "/home/{{ ansible_user_id }}/.Xmodmap"
            mode: "0644"
          register: configure_keyboard_xmodmap_copy_result
          notify: Apply custom key mappings with xmodmap

    - name: Configure General Keyboard Shortcuts
      block:
        - name: Set custom Kinto compatible keyboard shortcuts in XFCE
          when: configure_keyboard_is_xfce_desktop
          ansible.builtin.command:
            cmd: "{{ item }}"
          with_items:
            - >-
              xfconf-query --channel=xfce4-keyboard-shortcuts --property "/xfwm4/custom/<Primary>Tab"
              --create --type string --set "cycle_windows_key"
            - >-
              xfconf-query --channel=xfce4-keyboard-shortcuts --property "/xfwm4/custom/<Primary><Shift>Tab"
              --create --type string --set "cycle_reverse_windows_key"
            - xfconf-query --channel=xfce4-keyboard-shortcuts --property "/commands/custom/<Super>l" --reset
            - >-
              xfconf-query --channel=xfce4-keyboard-shortcuts --property "/commands/custom/<Primary><Alt>q"
              --create --type string --set "xflock4"
          changed_when: false

    - name: Configure Workspace Switching Shortcuts
      block:
        - name: Configure XFCE workspace shortcuts
          when: configure_keyboard_is_xfce_desktop
          block:
            - name: Ensure there are 10 workspaces
              ansible.builtin.command: xfconf-query -c xfwm4 -p /general/workspace_count -s 10
              changed_when: false

            - name: Execute XFCE4 workspace switching shortcut deletion script
              ansible.builtin.command: bash "{{ role_path }}/files/{{ configure_keyboard_xfce4_shortcut_deletion_script_path }}"
              changed_when: false

            - name: Execute XFCE4 workspace switching shortcut creation script
              ansible.builtin.command: bash "{{ role_path }}/files/{{ configure_keyboard_xfce4_shortcut_creation_script_path }}"
              changed_when: false

        - name: Configure MacOS workspace shortcuts
          when: is_mac
          block:
            - name: Set creation script permissions
              ansible.builtin.file:
                path: "{{ role_path }}/files/{{ configure_keyboard_macos_shortcut_creation_script_path }}"
                mode: "0744"

            - name: Execute MacOS workspace switching shortcut creation script
              # NOTE: Requires bash 4 or higher to provide support for associative arrays.
              # Because the `shell` module runs `sh` by default unless it is symlinked to
              # `/bin/bash`, the `command` module is used instead to spawn a bash shell.
              ansible.builtin.command: "bash {{ role_path }}/files/{{ configure_keyboard_macos_shortcut_creation_script_path }}"
              changed_when: false

    - name: Install Kinto.sh
      tags: kinto_install
      block:
        - name: Install Kinto.sh on Linux
          when: configure_keyboard_is_linux_system
          block:
            - name: Install Kinto dependencies
              when: configure_keyboard_is_apt_package_manager
              ansible.builtin.apt:
                name:
                  - gir1.2-vte-2.91
                  - unzip
                  - curl
                state: present
              become: true

            - name: Ensure Downloads directory exists
              ansible.builtin.file:
                path: "/home/{{ ansible_user_id }}/Downloads"
                state: directory
                mode: "0755"

            - name: Create a temporary directory for the Kinto install script
              ansible.builtin.tempfile:
                state: directory
                suffix: _install_kinto
              register: configure_keyboard_tempdir

            - name: Download Kinto install script
              ansible.builtin.get_url:
                url: https://raw.githubusercontent.com/rbreaves/kinto/HEAD/install/linux.sh
                dest: "{{ configure_keyboard_tempdir.path }}/install_kinto.sh"
                mode: "0755"
              register: configure_keyboard_kinto_download_result

            - name: Set fact if Kinto download was successful
              ansible.builtin.set_fact:
                configure_keyboard_is_kinto_download_successful: "{{ configure_keyboard_kinto_download_result is success }}"

            - name: Run Kinto install script
              when: configure_keyboard_is_kinto_download_successful
              ansible.builtin.shell:
                cmd: "{{ configure_keyboard_tempdir.path }}/install_kinto.sh"
                executable: /bin/bash
              register: configure_keyboard_kinto_install_result
              changed_when: false
              notify: Remove files downloaded by Kinto install script

    - name: Configure Kinto.sh
      tags: kinto_config
      block:
        - name: Uncomment XFCE4 specific lines in Kinto.py when current desktop is XFCE4
          when: configure_keyboard_is_xfce_desktop
          ansible.builtin.replace:
            path: "{{ configure_keyboard_kinto_config_path }}"
            regexp: '^(\s*)([#\s]+)(.*\s(?!not-)xfce4[\s\w]*)$'
            replace: '\1\3'
            backup: true
          register: configure_keyboard_xfce_changes

        - name: Modify shortcuts for en_GB Chromebook keyboard layouts in kinto.py
          when: configure_keyboard_is_debian_os_on_gb_chromebook
          block:
            - name: Modify general GUI related shortcuts
              ansible.builtin.blockinfile:
                path: "{{ configure_keyboard_kinto_config_path }}"
                block: "{{ lookup('file', 'snippets/kinto/gui_shortcuts') }}"
                marker: "# {mark}: ANSIBLE MANAGED GENERAL GUI SHORTCUTS"
                insertbefore: '\s*\},\s*\"General GUI\"\s*'
              register: configure_keyboard_gui_changes

            - name: Modify terminal related shortcuts
              ansible.builtin.blockinfile:
                path: "{{ configure_keyboard_kinto_config_path }}"
                block: "{{ lookup('file', 'snippets/kinto/terminal_shortcuts') }}"
                marker: "# {mark}: ANSIBLE MANAGED TERMINAL SHORTCUTS"
                insertbefore: '\s*\},\s*\"terminals\"\s*'
              register: configure_keyboard_terminal_changes

        - name: Set fact if Kinto configuration has changed
          ansible.builtin.set_fact:
            configure_keyboard_is_kinto_config_changed: >-
              {{
                configure_keyboard_xfce_changes.changed or
                configure_keyboard_gui_changes.changed or
                configure_keyboard_terminal_changes.changed
              }}

        - name: Restart xkeysnail service after making changes to kinto.py
          when: configure_keyboard_is_kinto_config_changed and not is_wsl
          ansible.builtin.systemd:
            name: xkeysnail
            state: restarted
          register: configure_keyboard_kinto_config_result
          become: true

    - name: Set fact if Kinto config result is changed
      ansible.builtin.set_fact:
        configure_keyboard_is_kinto_config_result_changed: >-
          {{
            configure_keyboard_kinto_config_result is defined and
            configure_keyboard_kinto_config_result is changed
          }}

    - name: Manage Kinto Backup Files
      block:
        - name: Retain latest backup file only
          when: configure_keyboard_is_kinto_config_result_changed
          block:
            - name: Get list of backup files
              when: is_linux_system
              ansible.builtin.set_fact:
                configure_keyboard_backup_files: "{{ lookup('fileglob', configure_keyboard_kinto_config_path ~ '.*', wantlist=true) }}"

            - name: Extract timestamps from backup filenames
              ansible.builtin.set_fact:
                configure_keyboard_backup_files_with_ts: >-
                  {{ configure_keyboard_backup_files | map('regex_replace', '.*\\.(.*)~', '\\1') | list }}

            - name: Sort backup files by extracted timestamps
              ansible.builtin.set_fact:
                configure_keyboard_backup_files_sorted: >-
                  {{ configure_keyboard_backup_files | zip(configure_keyboard_backup_files_with_ts)
                  | sort(attribute='1') | map(attribute='0') | list }}

            - name: Set fact if there are multiple Kinto backup files
              ansible.builtin.set_fact:
                configure_keyboard_has_multiple_kinto_backup_files: >-
                  {{
                    configure_keyboard_backup_files_sorted is defined and
                    (configure_keyboard_backup_files_sorted | length > 1)
                  }}

            - name: Remove older backup files whilst retaining the latest backup
              when: configure_keyboard_has_multiple_kinto_backup_files
              ansible.builtin.file:
                path: "{{ item }}"
                state: absent
              loop: "{{ configure_keyboard_backup_files_sorted[:-1] }}"
